canvas {
    padding: 0;
    margin: auto;
    display: block;
    width: 350px;
    height: 300px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 0.5px solid #000000;
}
