body {
    margin: auto 0;
  }
  
  
#canvas {
    background: #0053cf;
    border: 10px solid #ffffffb2;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }