* {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;  
  background: linear-gradient(to bottom, #38ef7d, #11998e);

}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}

#canvas {
  background: linear-gradient(to bottom, #0575E6, #00F260);
  border-radius: 10px;
  box-shadow: 3px 3px 18px rgba(0, 0, 0, 0.5);
}