body {
  margin: 0;
}

.container {
  background: #000000;
  margin: 0;
  height: 100vh;
  width: 100vw;
  position: relative;
}

#canvas {
  background: #008080;
  background: linear-gradient(
    90deg,
    rgba(0, 128, 128, 1) 0%,
    rgba(118, 226, 226, 1) 35%,
    rgba(28, 70, 70, 0.9614243323442137) 100%
  );
  border: 10px solid #000000;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-size: 600% 600%;
  -webkit-animation: AnimationName 28s ease infinite;
  -moz-animation: AnimationName 28s ease infinite;
  -o-animation: AnimationName 28s ease infinite;
  animation: AnimationName 28s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 25%;
  }
  50% {
    background-position: 100% 76%;
  }
  100% {
    background-position: 0% 25%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 25%;
  }
  50% {
    background-position: 100% 76%;
  }
  100% {
    background-position: 0% 25%;
  }
}
@-o-keyframes AnimationName {
  0% {
    background-position: 0% 25%;
  }
  50% {
    background-position: 100% 76%;
  }
  100% {
    background-position: 0% 25%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 25%;
  }
  50% {
    background-position: 100% 76%;
  }
  100% {
    background-position: 0% 25%;
  }
}
