@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light|Gloria+Hallelujah&display=swap');
/* GENERAL LAYOUT STYLE */

body {
  text-align: center;
  background-color: #828085;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 40' width='80' height='40'%3E%3Cpath fill='%23a9f4bb' fill-opacity='0.4' d='M0 40a19.96 19.96 0 0 1 5.9-14.11 20.17 20.17 0 0 1 19.44-5.2A20 20 0 0 1 20.2 40H0zM65.32.75A20.02 20.02 0 0 1 40.8 25.26 20.02 20.02 0 0 1 65.32.76zM.07 0h20.1l-.08.07A20.02 20.02 0 0 1 .75 5.25 20.08 20.08 0 0 1 .07 0zm1.94 40h2.53l4.26-4.24v-9.78A17.96 17.96 0 0 0 2 40zm5.38 0h9.8a17.98 17.98 0 0 0 6.67-16.42L7.4 40zm3.43-15.42v9.17l11.62-11.59c-3.97-.5-8.08.3-11.62 2.42zm32.86-.78A18 18 0 0 0 63.85 3.63L43.68 23.8zm7.2-19.17v9.15L62.43 2.22c-3.96-.5-8.05.3-11.57 2.4zm-3.49 2.72c-4.1 4.1-5.81 9.69-5.13 15.03l6.61-6.6V6.02c-.51.41-1 .85-1.48 1.33zM17.18 0H7.42L3.64 3.78A18 18 0 0 0 17.18 0zM2.08 0c-.01.8.04 1.58.14 2.37L4.59 0H2.07z'%3E%3C/path%3E%3C/svg%3E");
  padding: 0;
  margin: 0;
}

/* Overrides Browser Defaults */
p,
h3,
a,
ul {
  font-family: 'Shadows Into Light', sans-serif;
  text-decoration: none;
  color: #524b3f;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.header {
  position: relative;
  top: -10px;
  background: rgba(27, 242, 127, 0.5);
  padding: 2em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.89);
}

.header h1,
h2 {
  margin: 10px;
  font-family: 'Gloria Hallelujah', cursive;
}

.header h1 {
  font-size: 8vw;
}

h2 {
  font-size: 3.5vw;
  color: #444444;
  font-family: 'Shadows Into Light', cursive;
}

/* Flex Card Container */
.flex {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  -ms-box-orient: horizontal;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 0;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flex li {
  background: rgba(27, 242, 127, 0.5);
  border-radius: 10px;
  border: 1.5px solid #ffffffa2;
  margin-top: 20px;
}

.flex li:hover {
  -webkit-box-shadow: 10px 10px 36px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 36px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 36px 0px rgba(0, 0, 0, 0.75);
}

.card {
  width: calc(100% * (1 / 2));
  margin: 20px 10px;
  transition-duration: 0.5s;
}
.card:hover {
  transform: scale(1.02);
}

.art-image {
  width: 27vw;
  height: 27vw;
  vertical-align: middle;
  border-radius: 10%;
  border: 3.5px solid #ffffffa2;
  padding: 5px;
  background: #948b7a;
  object-fit: cover;
  margin-top: 20px; /*Extra */
}

.flex-content {
  display: block;
  margin-top: 15px;
}

.art-title {
  font-size: 5vw;
  padding: 10px;
  line-height: 3vw;
  color: rgb(50, 51, 51);
  margin-top: 0px;
}

.art-title:hover {
  color: rgb(240, 240, 240);
}

.author {
  font-size: 1.2em;
  color: #524b3f;
  text-transform: capitalize;
  padding: 7px 10px 15px 10px;
  line-height: 15px;
}

.author > a:hover {
  color: rgb(255, 255, 255);
}

#footer {
  padding: 35px 20px;
  background-color: #343a40b0;
  justify-content: center;
  color: rgb(153, 153, 153);
  font-size: 1.1rem;
  font-family: 'Open Sans', sans-serif;
  border-top: 1px solid rgba(255, 255, 255, 0.89);
}

/* ============================================= */
/*              Responsive Browsing              */
/* ============================================= */

@media only screen and (min-width: 600px) {
  .card {
    width: calc(100% * (1 / 3));
  }

  .card img {
    top: -45px;
    width: 10vw;
    height: 10vw;
  }

  .art-title {
    font-size: 3vw;
    padding-top: 25px;
  }
  .author a {
    font-size: 2.1vw;
  }
}

@media only screen and (min-width: 900px) {
  .header h1 {
    font-size: 6vw;
  }

  h2 {
    font-size: 2vw;
  }

  .card {
    width: 25%;
  }

  .card img {
    top: -65px;
    width: 10vw;
    height: 10vw;
  }

  .art-title {
    font-size: 2.3vw;
    padding-top: 8px;
  }
  .author a {
    font-size: 1.6vw;
  }
}
