* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
}

#canvas {
  top: 50%;
  left: 50%;
  position: absolute;
  width: 692px;
  height: 866px;
  transform: translate(-50%, -50%);
}
