* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #000;
}
canvas {
  width: 550px;
  height: 350px;
  border: 5px dotted #42b45f;
}
