body{
    overflow: hidden;
}

#canvas1{
    position: absolute;
    border: 2px solid black;
    background: linear-gradient(to top, black,grey);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}