body {
        background: 0 -100px repeat-x url(bg_gallery.png) #fcf8f8;
        margin: 200px;
      }

      .source{
        padding-left: 20px;
        padding-right: 20px;
        align-items: center;
      }
.canvas2{
  padding-left: 40px;
}












