body {
  margin: 0;
  padding: 0;
}

canvas {
  width: 100%;
  height: 100%;
  position: fixed;
}

h1 {
  position: fixed;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  color: rgba(0, 0, 0, 0.548);
  border: rgba(0, 0, 0, 0.226) dashed 2px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  padding: 5px;
  margin: 5px;
}
