body {
  margin: 0;
}

div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  border: 5px solid transparent;
  border-image-slice: 100%;
  border-image-source: none;
  border-radius: 5px;
  border-image-source: linear-gradient(to right, #98ddcb 0%, #ed76c7 100%);
  border-image-slice: 5;
  height: 99.2vh;
  margin: 0;
}
