body, html {
  margin: 0;
  padding: 0;
}

#canvas {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); 
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
