#canvas-red {
  width: 400px;
  height: 400px;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  animation-name: fade-in;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
}

#canvas-logo {
  width: 300px;
  height: 300px;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0px;
  left: 0;
}

@keyframes fade-in {
  from {
    transform: translateY(-200px);
  }
  to {
    transform: translateY(0px);
  }
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}
