* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url('2.jpg') no-repeat center center/cover;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

canvas {
  border: 15px solid gold;
  filter: url(#goo);
}
