body {
  margin: 0;
  background: rgb(0, 0, 0);
  cursor: pointer;
}
canvas {
  display: block;
}
h1 {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: cursive;
  font-size: 8em;
  font-weight: 900;
  -webkit-user-select: none;
  user-select: none;
}
