html{
    background-color: black;
    background-size: cover;
  }
  
  canvas{
    z-index: 2;
  }
  
  .text{
    text-align: center;
    color:#ffffff6b;
    font-size: 28px;
    width: 100%;
    top:130px;
    position: absolute;
    margin:0 auto;
    display: block;
  }