html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

#mctrl_canvas {
    background-color: #6dc2e961;
}
