canvas {
	width: 100%;
	height: 100%;
	background: black;
}

body, html {
 height: 100%;
 margin: 0;
 position: relative;
}

p{
	color: grey;
	position: absolute;
	top:5%;
	margin:auto 20%;
	font-family:monospace;
	font-size: 1.5rem;
	border-radius: 5px;
	background-color: white;
	padding:1%;
}

footer{
	position: absolute;
	bottom:4%;
	color:grey;
	margin:auto 36%;
	font-family:monospace;
	font-size: 16px;
}