body {
  background-color: rgb(155, 226, 226);
  display: flex;
  flex-direction: column;
}

#ytrkptl-color-picker {
  margin: 10px;
}

#ytrkptl-canvas {
  margin: 10px;
  max-width: 400px;
}

#animate-button {
  max-width: 200px;
  height: 40px;
  margin: 10px;
}
