@import url('https://fonts.googleapis.com/css2?family=Piazzolla:wght@500&display=swap');

h1 {
  font-family: Piazzolla, sans-serif;
  text-align: center;
}

canvas {
  display: block;
  margin: 20px auto;
  border: 1px solid black;
}
