* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(130, 188, 218);
  background: radial-gradient(
    circle,
    rgba(130, 188, 218, 1) 0%,
    rgba(221, 130, 208, 1) 95%
  );
}
#img-src {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
