body {
  background-color: whitesmoke;
}

#paintWindow {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border: 1px solid black;
}

h1 {
  text-align: center;
  font-family: 'Satisfy', cursive;
  color: #c0392b;
}
