html {
  background-image: linear-gradient(#eee, #aaa);
  height: 100%;
}

#city {
  background-image: url('background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  border: solid 2px;
  border-bottom-color: #b11313;
  border-left-color: #b11313;
  border-right-color: #b11313;
  border-top-color: #b11313;
  height: 100%;
  width: 100%;
}

.frame {
  background-color: #447bbe;
  border: solid 5vmin #b11313;
  border-bottom-color: #df1f2d;
  border-left-color: #2b3784;
  border-radius: 2px;
  border-right-color: #2b3784;
  border-top-color: #df1f2d;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25) inset,
    0 5px 10px 5px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  display: inline-block;
  height: 80vh;
  padding: 2vmin;
  position: relative;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.button {
  border: none;
  color: #2b3784;
  padding: 15px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-left: 45%;
  margin-top: 2%;
}

#spiderman {
  display: none;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
