body {
    margin: 20px;
  } 
button {
  background-color: #4CAF50; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
}
.container{
	height: 100vh;
    width: 100vw;
    position: center;
}

