body{
    margin:0;
    padding:0;
    background-color: #85A48A;
}

.container{
    position: relative;
    width:100vw;
    height:100vh;
}

#canvas{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

img {
    width: 400px;
    height: 400px;
    display: block;
    margin: auto;
    margin-top: 150px;
}
