body{
    background: linear-gradient(-90deg, #FF0000, #FFFF00, #00FF00, #0000FF, #FF00FF, #FF0000);
	background-size: 600% 600%;
	animation: animation 15s ease infinite;
	height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

canvas{
    background: #000;
    border-radius: 20px;
	box-shadow: 0px 0px 100px #000;
}

@keyframes animation {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}