#canvas {
  border: 3px solid black;
  background-color: rgba(56, 51, 51);
  background-position: center;
  background-size: cover;
}

body {
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
