body {
    margin: 20px;
  } 



.canvas-containers{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.canvas{
    background-color: green;
}
