body {
  margin: 0;
}
.center-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.flag {
  width: 270px;
  height: 180px;
  box-shadow: 0px 0px 90px 5px #989;
}

.middle {
  position: absolute;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wheel {
  height: 43px;
  width: 43px;
  border: 2px solid darkblue;
  border-radius: 45px;
  position: relative;
  margin: 0 auto;
}

.wheel .line {
  height: 100%;
  width: 1px;
  display: inline-block;
  position: absolute;
  left: 48.8%;
  background: darkblue;
}

.line:nth-child(1) {
  transform: rotate(15deg);
}

.line:nth-child(2) {
  transform: rotate(30deg);
}

.line:nth-child(3) {
  transform: rotate(45deg);
}

.line:nth-child(4) {
  transform: rotate(60deg);
}

.line:nth-child(5) {
  transform: rotate(75deg);
}

.line:nth-child(6) {
  transform: rotate(90deg);
}

.line:nth-child(7) {
  transform: rotate(105deg);
}

.line:nth-child(8) {
  transform: rotate(120deg);
}

.line:nth-child(9) {
  transform: rotate(135deg);
}

.line:nth-child(10) {
  transform: rotate(150deg);
}

.line:nth-child(11) {
  transform: rotate(165deg);
}

.line:nth-child(12) {
  transform: rotate(180deg);
}
