body{
    margin: 0;
    background-color:rgb(0, 0, 0);
    
}
button{
    margin:4vh;
    color:rgb(255, 254, 254);
    background-color:rgb(2,13,42);
    padding:2vh;
    font-weight:smaller;
    

}

@keyframes flicker {
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
      text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px rgb(253, 253, 253),
      0 0 42px rgb(0, 98, 255),
      0 0 82px rgb(255, 0, 242),
      0 0 92px #0fa,
      0 0 102px #0fa,
      0 0 151px #0fa;
    }
    20%, 24%, 55% {       
      text-shadow: none;
    }
  }
.container{
    display:flex;
    align-items: spa;
    justify-content: center;
    animation: flicker 5s infinite alternate;
    font-family: 'Monoton', cursive;
}
h1{font-weight:bold;
    font-size:14vh;
    color: #fff;
  
      

}
h1:hover{text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px rgb(253, 253, 253),
    0 0 42px rgb(0, 98, 255),
    0 0 82px rgb(255, 0, 242),
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;}
.date{
    display:flex;
    font-family: 'Monoton', cursive;
    font-size:14vh;
    font-weight:bold;
    color: #fff;;
    align-items: center;
    justify-content: center;

}
.date:hover{text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px rgb(253, 253, 253),
    0 0 42px rgb(0, 98, 255),
    0 0 82px rgb(255, 0, 242),
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
    animation: flicker 1.5s infinite alternate;

}